@keyframes neon {
    0% {
        box-shadow: -2px -2px 7px rgb(130, 45, 130);
    }
    25% {
        box-shadow: -2px 2px 7px rgb(130, 45, 130);
    }   
    50% {
        box-shadow: 2px 2px 7px rgb(130, 45, 130);
    }

    75%{
        box-shadow: 2px -2px 7px rgb(130, 45, 130);
    }
    100% {
        box-shadow: -2px -2px 7px rgb(130, 45, 130);
    }
  }
  
.space{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 0;
    margin-left: 20px;
}

.space h2{
    margin-bottom: 15px;
}

.projectGrid{
    width: 200px;
    height:200px;
    margin-right: 100px;
    margin-bottom: 10px;
    border: 1px solid purple;
    text-align: center;
    animation: neon 5s ease 0s infinite;
}
.iconPG {
  font-size: 5em;
}
.projectGrid img{
  
    width: 198px;
    height: 198px;
}
.projectGrid h1{
    margin-top: 30%;
}
.projectDesc{
    margin-top: 20px;
    display: none;
    
}
.projectGrid:hover{
    .projectDesc{
        display: block;
        
    }
    img{
        display: none;
    }
    .iconPG{
        display: none;
    }
}
.button{
    display: flex;
 
    flex-wrap: wrap;
}
.button a{
    width: 90px;
    background-color: transparent;
    border: 2px solid rgb(130, 45, 130);
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: 10px;
    margin-left: 8px;
    text-align: center;
}
.button a:hover{
    box-shadow: 1px 1px 8px rgba(128, 0, 128, 0.741);

}
