.homeLayout{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 250px;
}
.text{
    padding: 50px;
}
p{
    padding: 12px 0px;
    color: rgb(173, 173, 173);
}

strong{
    color: rgb(130, 45, 130);
}

button{
    background-color: transparent;
    border: 1px solid rgb(130, 45, 130);
    padding: 3px;
}

.image{
    background-image: url(../images/Picsart_23-12-05_16-59-00-379.png);
    width: 200px;
    height: 200px;
    background-size: cover;
}