.projectsLayout{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 250px;
}

@media(max-width: 560px){
    .projectsLayout{
        top: 130px;
        left: 18%;
    }
}