@keyframes neon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
.skillsLayout{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;
    flex-wrap: wrap;
    text-align: center;
}
.linguagemlt{
    margin: 10px;
    width:350px;
    height: 250px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.linguagemlt::before{
    content: '';
    position: absolute;
    top: 40%;
    left: -20%;
    width: 380px;
    height: 50px;
    background: purple;
    box-shadow: 1px 1px 50px rgb(248, 2, 248);
    animation: neon 5s linear infinite;  
}
.linguagemlt::after{
    content: '';
    position: absolute;
    inset: 1.5px;
    background-image: linear-gradient(to right, rgb(33, 33, 43), black);
}

.frontback{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.textL{
    display: flex; 
    flex-direction: column;
}
.textL h1{
    padding: 15px;
    font-size: 1.2em;
    z-index: 1;
    text-align: center;
}
.icons{
    font-size: 30px;
    z-index: 1;
    margin-top: 8px;
    align-self: center;
}
.descP{
    padding: 10px;
    font-size: .9em;
    z-index: 1;
}
strong{
    color: rgb(130, 45, 130);
}

@media(max-width: 560px){
    .linguagemlt{
        margin: auto;
        margin-bottom: 15px;
    }
    .frontback{
        padding: 20px;
    }
}