.skillsLayout{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 130px;
    align-content: space-between;
   
}
.linguagemlt{
    margin: 10px;
    border: 1px solid rgb(97, 8, 97);
    width: 200px;
    height: 200px;
    box-shadow: 3px 4px 6px rgb(130, 45, 130);
}
.frontback{
    display: flex;
    flex-direction: row;
}
.textL{
    display: flex;
}
.textL h1{
    padding: 15px;
    font-size: 1.5em;
}
.icons{
    font-size: 50px;
    
}
p{
    padding: 10px;
}
strong{
    color: rgb(130, 45, 130);
}

@media(max-width: 560px){
    .linguagemlt{
        margin: auto;
        margin-bottom: 15px;
    }
    .frontback{
        padding: 20px;
    }

}