@font-face {
        font-family: 'ace';
        src: url('../fontes/carnivalee_freakshow/Carnevalee\ Freakshow.ttf');
    }
.nav_layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'ace', sans-serif;
    width: 100vw;
    min-width: 40vh;
    height: 70px;
    text-decoration: none;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1;

}
.nav_link{
    color: white;
    text-shadow: 1px 1px 10px black;
    margin-right: 40px;
    font-size: 1.3em;
    text-decoration: none;
    transition: .5s;
}
.nav_linkh1{ 
    color: white;
    text-shadow: 1px 1px 10px black;
    margin-right: 40px;
    text-decoration: none;
    transition: .5s;
}

.nav_link:hover{
    font-size: 1.6em;
    color: purple;
    text-decoration: line-through;
}


.jedi{
    background-image: url('../images/Picsart_23-12-05_16-59-00-379.png');
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 350px;
    display: none;
}
@media(max-width: 560px){
     .nav_link{
        display: none;
    }
    .nav_layout h1{
        margin-left: 75%;
    }

}